
h1{
    text-align: center;
}

p{
   text-align: center; 
   margin-left: 20%;
   margin-right: 20%;
}

.parts{
    text-align: center;
    display: inline-block;
    overflow: auto;
    width: 450px;
    height: 300px;

    -ms-overflow-style: none;  
    scrollbar-width: none;  

    margin-left: auto;
    margin-right: auto;


}

div{
    text-align: center;

}

.holder{
     overflow: auto;
     display: inline-block;
    width: 450px;
    height: 300px;

    -ms-overflow-style: none;  
    scrollbar-width: none; 
}